body {
  font-family: 'Roboto', Arial, Sans-Serif;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: #e37042;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.main-socket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.centered-row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  gap: 20px;
}

.centered-column-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  gap: 20px;
}

input[type=text],input[type=password],input[type=number],select,textarea {
  border: 1px solid #999999;
  border-radius: 5px;
  min-width: 50px;
}

input[type=text]:focus,input[type=password]:focus,input[type=number]:focus,select:focus,textarea:focus {
  border-color: #00a5e5;
  outline-color: #00a5e5;
}

input[type=text].error:focus,input[type=password].error:focus,input[type=number].error:focus,select.error:focus,textarea.error:focus {
  border-color: #ff0000;
  outline-color: #ff0000;
}

input[type=text].warning:focus,input[type=password].warning:focus,input[type=number].warning:focus,select.warning:focus,textarea.warning:focus {
  border-color: #ee9900;
  outline-color: #ee9900;
}

input[type=text].success:focus,input[type=password].success:focus,input[type=number].success:focus,select.success:focus,textarea.success:focus {
  border-color: #009900;
  outline-color: #009900;
}

input[type=text],input[type=password],input[type=button],input[type=submit],input[type=number],textarea {
  padding: 10px;
  font-size: 18px;
  max-width: 400px;
}

input.long-input {
  max-width: 500px;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0;
}

.passphrase-container input {
  max-width: 107px;
}

.log-in-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.passphrase-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

capitalisk-passphrase-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.log-in-form .form-panel label,.log-in-form .form-panel input[type=checkbox],.multisig-indicator {
  vertical-align: middle;
}

.multisig-indicator.spinning {
  display: inline-block;
}

.spinning {
  animation: spin 1s infinite linear;
}

.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #cccccc;
  font-size: 70px;
  box-sizing: border-box;
}

.multisig-indicator.error {
  color: #ff0000;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.chat-viewport {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 450px;
  overflow-y: scroll;
  padding-right: 20px;
  box-sizing: border-box;
}

.chat-sent-viewport,.chat-received-viewport {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 450px;
  overflow-y: auto;
  box-sizing: border-box;
}

.chat-message-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  padding: 10px;
}

.chat-username {
  display: flex;
  justify-content: flex-end;
  max-width: 100%;
}

.chat-username > a {
  display: flex;
  max-width: 100%;
}

.chat-username switch-group {
  max-width: 100%;
}

.chat-username switch-group [slot=viewport] {
  display: flex;
}

.chat-username switch-group [slot=viewport] > a {
  display: flex;
  max-width: 100%;
}

.username-self {
  color: #009900;
}

.username-self,.username-other {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.chat-created-at {
  display: flex;
  justify-content: flex-end;
}

.chat-adder-form .collection-adder-form-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-adder-form textarea {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

input[type=submit] {
  max-width: 250px;
}

input[type=submit]:not(input[disabled]) {
  cursor: pointer;
}

.chat-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

.limited-width-container {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.small-line-container {
  display: inline-block;
  vertical-align: bottom;
  max-width: 150px;
  width: 100%;
}

.medium-line-container {
  display: inline-block;
  vertical-align: bottom;
  max-width: 350px;
}

.small-padded-container {
  padding: 10px;
}

.page-title {
  display: flex;
  flex-grow: 1;
}

.spacer {
  height: 30px;
}

[slot=page-number] {
  display: inline-block;
  text-align: center;
  min-width: 30px;
}

[slot=next-page],[slot=previous-page] {
  cursor: pointer;
}

@media (max-width: 800px) {
  .chat-top-row {
    flex-direction: column;
    align-items: flex-end;
  }
  .sm-full-width-line {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .chat-username {
    font-size: 13px;
  }
  .chat-created-at {
    font-size: 13px;
  }
}
